<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">About Me</a></li>
				<li><a href="/cv">CV</a></li>
				<li><a href="/code-lang">Coding and Languages</a></li>
				<li><a href="/teaching">Teaching</a></li>
				<li><a href="/scicomm">Scicomm and Writing</a></li>
	        		<li><a href="/research">Research</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:luna.zagorac@yale.edu">email</a></li>
	        		<li><a href="https://github.com/lunazagor">github.com/lunazagor</a></li>
				</ul>
			</footer>
		</body>
	</html>
